<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Controllers in AngularJS</title>
</head>
<body ng-controller="TodoController">
    <ul>
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.completed">
            {{todo.name}}
        </li>
    </ul>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>

<script>
    function TodoController($scope) {
        $scope.todos = [
            {name: 'Master HTML/CSS/Javascript', completed: true},
            {name: 'Learn AnglarJS', completed: false},
            {name: 'Build NodeJS backend', completed: false},
            {name: 'Learn Yii2 framework', completed: false},
            {name: 'Setup MongoDB database', completed: false},
            {name: 'Get going with CSS 3', completed: false},

        ]
    }
</script>

</html>
